<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary dropdown-toggle"><span class="caret"></span> 
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"> To Shopping List</a></li>
        <li><a href="#"> Edit Recipe</a></li>
        <li><a href="#"> Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="row container-fluid">
    <h6>Description</h6>
    <h6>Ingredients</h6>
  </div>
</div>
