*{
    margin: 10px;
}

.successMessage{
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.5s;
}
.successMessage:hover{
    border-width: 3px;
    border-style: solid;
    border-color: #0EA719;
    background-color: #02C227;
    color: white;
    transition: background-color 0.5s;
}
