<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" [(ngModel)]="message" class="text-danger">
            <h6>{{message}}</h6>
        </div>
    </div>
    <div class="row">
        <app-server></app-server>
    </div>
    <div class="row">
            <app-warning></app-warning>
        </div>
</div> -->
<div class="container-fluid">
    <div class="row ">
            <div class="col-md-6 col-md-offset-3">
                <app-warning></app-warning>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <app-warning></app-warning>
            </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <app-success></app-success>
        </div>
    </div>
</div>
