<div class="row">
  <div class="col-md-4">
    <button class="btn btn-success" (click)="addRecipe()">
    New Recipe
    </button>
  </div>
</div>
<hr>
<div class="list-group container-fluid">
  <div>
    <a class="row list-group-item" *ngFor="let recipe of Recipes">
      <div class="col-md-8">
        <h4 class="list-group-item-heading">{{recipe.Name}}</h4>
        <h6 class="list-group-item-text"> {{recipe.Description}}</h6>
      </div>
      <div class="col-md-4">
        <img class="img-responsive img-thumbnail" [src]="recipe.ImagePath" />
      </div>
    </a>
  </div>
</div>
